body {
  margin: 0;
  font-family:  'Segoe UI', 'Roboto', 'Oxygen',
}

code {
  font-family: 'Courier New',
    monospace;
}
ul {
  margin-inline-start: 0em;
  margin-block-start: 0em;
  padding-inline-start: .25em;
}
li {
  list-style:none;
  text-align:left;
}
li:hover {
  background-color: rgba(70, 1, 55, 0.26);
  cursor: pointer;
  text-align:left;
}